body {
    background-color: whitesmoke;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: whitesmoke;
    margin-right:  40px;
    margin-left: 40px;
    
}

img {
    max-width: 100%;
}

header {
    background-color: #345457;
    width: 100%;
}

.header-logo-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header-image {
    height: 100%;
    text-align: center;
}

.header-name {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: #daa520;
    text-align: center;

  }

.sub-header {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    color: #AFEEEE;
    text-align: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #AFEEEE;
    list-style-type: none; 
}



/*about me section end*/

.box {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 25px;
    border: thick double #daa520
}

.feature-image {
    float: left;
    max-height: fit-content;
    max-width: 100%;
    margin-top: 25px;
    margin-left: 250px;
    border: solid #AFEEEE;
}

.feature-text {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 25px;
    margin-right: 250px;
    padding-left: 250px;
    padding-right: 250px;
    border: solid #AFEEEE;
}

/*about me section end*/

footer {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 50px;
    background-color:#345457;
    width: 100%;
    margin-top: 5%
}

footer p {
    color: #AFEEEE;
    text-align: center;
    padding: 25px;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

/* resume page */
.resume-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: bold;
    padding-top: 5px;
    border-bottom:3px solid #daa520; padding-bottom:5px;
}

.resume-subheader {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 5px;
}
.resume-subheader-2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.resume-section-1 {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

ul { 
    margin-left: 20px;
    list-style-type: disc;
}

/* sample works page */

.sample-box {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 25px;
    
    background-color: #AFEEEE;
    border: solid #345457;
    border-width: 2px;
}

.sample-box a {
    color: #345457;
}

/* contact page */

.form-box{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
}

.button-icon {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-left: 50px;
    
}

/* form */

label {
    display: block;
    font-size: large;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.form-input {
    border: 2px solid #daa520; 
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
    cursor: pointer;

}

.form-input :focus {
    outline: none;
    border: 2px solid #345457;
    
}

[type="submit"] {
    background: #daa520;
    color: #345457;
    border-color: #345457;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5em;
    cursor: pointer;    
}

textarea {
    height: 150px;
    resize: vertical;
}

.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: left;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    margin: -1em 0 1.5em
}




/* other */


@media screen and (min-width: 768px) {
    header,
    footer {
        clear: both;
    }

    
}

@media screen and (min-width: 1065px) {
    form {
        width: 50%;
        margin: 3 em auto;
    }
    .sample-box {
        margin-left: 250px;
        margin-right: 250px;
    }
}